{
  "plugins": ["prettier-plugin-tailwindcss","@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "importOrder": ["^react$", "^(?!@/|\\.)", "^(@/(.*))", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
